<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.libronote.mapper.UserMapper">
    <select id="getUserDetail" parameterType="Long" resultType="User">
        SELECT
        u.userSeq,
        u.email,
        u.password,
        u.role,
        u.nickname,
        u.provider,
        u.createdAt,
        u.modifiedAt
        FROM USER_INFO u
        WHERE u.userSeq = #{userSeq}
    </select>

    <select id="getUserList" resultType="User">
        SELECT
            u.userSeq,
            u.email,
            u.role,
            u.nickname,
            u.provider,
            u.createdAt,
            u.modifiedAt
        FROM USER_INFO u
        LIMIT #{page}, #{size}
    </select>

    <insert id="insertUser" parameterType="User" useGeneratedKeys="true" keyProperty="userSeq">
        INSERT INTO USER_INFO(email, password, role, nickname, provider, createdAt, modifiedAt)
        VALUES(#{email}, #{password}, #{role}, #{nickname}, #{provider}, NOW(), NOW())
    </insert>

    <delete id="deleteUser" parameterType="Long">
        DELETE FROM USER_INFO u
        WHERE u.userSeq = #{userSeq}
    </delete>
</mapper>